*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Решта коду */
:root {
    --primary-text-color: #212121
    --title-text-color: #757575
    --accent-color: #2196F3
}
.body {
    background-color: #FFFFFF;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}
/*удаляем точки перед списком*/
.list {
    list-style-type: none;
}
/*лого надо оформить в два цвета*/
.primary {
    color: #2196F3;
}
.secondary {
    color: #000000;
}

/*site-nave*/
.site-nave {
    display: flex;
}
.site-nave .item + .item {
    margin-left: 50px;
}
.site-nave .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}
.site-nave .link:hover, .site-nave .link:focus {
    color: var(--accent-color, #2196F3);
}
.site-nave .link.current {
    color: var(--accent-color, #2196F3);
}
.contact-information a {
    color: var(--title-text-color, #757575);
    text-decoration: none;
}
.contact-information a:hover, .contact-information a:focus {
    color: var(--accent-color, #2196F3);
}    

/*hero*/
/*надо доделать фон, кнопку и изменить цвет текста*/
.hero {
    background-color: #2F303A;
    text-align: center;

}
.hero-title {
    
    margin-top: 0;
    margin-bottom: 30;

    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    

    color:  #FFFFFF
}
/*Button*/
.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9px;
    text-decoration: none;
    

    color: #FFFFFF;
    background-color: #2196F3;

    
    
}
/*наши приемущесва*/
.feature {
    padding-left: 215px;
    padding-right: 215px;
}
.container {
    width: auto;
    outline: 2px solid tomato;
}
.feature .list {
    
}
.feature .title {
    margin-top: 0;
    margin-bottom: 10;
    color: var(--primary-text-color, #212121);
}
.feature .text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color, #757575);
}

/*чем мы занимаемся*/

.section-title-centered {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    color: var(--primary-text-color, #212121);
    text-align: center;
}
/*наша команда*/

.command-title-centered {
font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    color: var(--primary-text-color, #212121);
    text-align: center;
}
.command-name {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
text-decoration: none;
color: var(--primary-text-color, #212121);
margin-top: 0;
margin-bottom: 0;

}
.command-text {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 400;
 line-height: 19px;
 text-decoration: none;
 color: var(--title-text-color, #757575);
 margin-top: 0;
 margin-bottom: 10; 
} 


/*footer*/
/*надо изменить цвет лого*/
.footer {
background-color: #2F303A   
}
.footer a {
    color: rgba(255, 255, 255, 0.6);
}
.footer .primary {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    color: #2196F3;
    margin-top: 0;
    margin-bottom: 0;
}
.footer .secondary {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
.footer .contacts {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
.footer .mail {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0;
    margin-bottom: 0;
}
.footer .fon {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0;
    margin-bottom: 0;
}




/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*цвет лого WEB #2196F3*/
/*цвет лого Studio #000000*/
/*герой фон #2F303A*/
/*main фон #2F303A*/
/*наша команда фон #F5F4FA*/
/*герой текст #FFFFFF*/
/*футер фон #2F303A*/
/*акцент #2196F3*/




