body {
    background-color: #FFFFFF;
    color: #757575;
}
/*удаляем точки перед списком*/
.list {
    list-style: none;
}
/*лого надо оформить в два цвета*/
.logo {
    color: blue;
}
/*site-nave*/
.site-nave a {
    color: #212121;
}
.site-nave a:hover, .site-nave a:focus {
    color: #2196F3;
}
.contact-information  a {
    color: #757575;
}
.contact-information a:hover, .contact-information a:focus {
    color: #2196F3;
}    

/*hero*/
/*надо доделать фон, кнопку и изменить цвет текста*/
.hero-title {
    color: #212121;
}
/*наши приемущесва*/
.feature .title {
    color: #212121;
}
/*чем мы занимаемся*/
.section .title {
    color: #212121;
}
/*наша команда*/
.command-title {
    color: #212121;
}




/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*цвет лого WEB #2196F3*/
/*цвет лого Studio #000000*/
/*герой фон #2F303A*/
/*main фон #2F303A*/
/*наша команда фон #F5F4FA*/
/*герой текст #FFFFFF*/
/*футер фон #2F303A*/
/*акцент #2196F3*/




