:root {
    --primary-text-color: #212121
    --title-text-color: #757575
    --accent-color: #2196F3
}


body {
    background-color: #FFFFFF;
}
/*удаляем точки перед списком*/
.list {
    list-style: none;
}
/*лого надо оформить в два цвета*/
.logo {
    color: blue;
}
/*site-nave*/
.site-nave a {
    color: #212121;
}
.site-nave a:hover, .site-nave a:focus {
    color: var(--accent-color, #2196F3);
}
.contact-information a {
    color: var(--title-text-color);
}
.contact-information a:hover, .contact-information a:focus {
    color: var(--accent-color, #2196F3);
}    

/*hero*/
/*надо доделать фон, кнопку и изменить цвет текста*/
.hero-title {
    color: var(--primary-text-color);
}
/*наши приемущесва*/
.feature .title {
    color: var(--primary-text-color);
}
/*чем мы занимаемся*/
.section .title {
    color: var(--primary-text-color);
}
/*наша команда*/
.command-title {
    color: var(--primary-text-color);
}
/*footer*/
/*надо изменить цвет лого*/
.footer {
background-color: #2F303A   
}
.footer a {
    color: rgba(255, 255, 255, 0.6);
}




/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*цвет лого WEB #2196F3*/
/*цвет лого Studio #000000*/
/*герой фон #2F303A*/
/*main фон #2F303A*/
/*наша команда фон #F5F4FA*/
/*герой текст #FFFFFF*/
/*футер фон #2F303A*/
/*акцент #2196F3*/




