:root {
    --primary-text-color: #212121
    --title-text-color: #757575
    --accent-color: #2196F3
}
.body {
    background-color: #FFFFFF;
}
/*удаляем точки перед списком*/
.list {
    list-style: none;
}
/*лого надо оформить в два цвета*/
.primary {
    color: #2196F3;
}
.secondary {
    color: #000000;
}
/*site-nave*/
.site-nave a {
    color: #212121;
    text-decoration: none;
}
.site-nave a:hover, .site-nave a:focus {
    color: var(--accent-color, #2196F3);
}
.site-nave .link.current {
    color: var(--accent-color, #2196F3);
}
.contact-information a {
    color: var(--title-text-color, #757575);
    text-decoration: none;
}
.contact-information a:hover, .contact-information a:focus {
    color: var(--accent-color, #2196F3);
}    

/*hero*/
/*надо доделать фон, кнопку и изменить цвет текста*/
.hero {
    background-color: #2F303A
}
.hero-title {
    color:  #FFFFFF
}
/*Button*/
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9px;
    text-decoration: none;
    text-align: center;

    color: #FFFFFF;
    background-color: #2196F3;
    
}
/*наши приемущесва*/
.feature .title {
    color: var(--primary-text-color, #212121);
}
.feature .text {
    color: var(--title-text-color, #757575);
}
/*чем мы занимаемся*/
.section .title {
    color: var(--primary-text-color, #212121);
}
/*наша команда*/
.command-title {
    color: var(--primary-text-color, #212121);
}
.command .text {
   color: var(--title-text-color, #757575); 
}
/*footer*/
/*надо изменить цвет лого*/
.footer {
background-color: #2F303A   
}
.footer a {
    color: rgba(255, 255, 255, 0.6);
}
.footer .primary {
    color: #2196F3;
}
.footer .secondary {
    color: #FFFFFF;
}
.footer .contacts {
    color: #FFFFFF;
}
.footer .mail {
    color: rgba(255, 255, 255, 0.6);
}
.footer .fon {
    color: rgba(255, 255, 255, 0.6);
}




/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*цвет лого WEB #2196F3*/
/*цвет лого Studio #000000*/
/*герой фон #2F303A*/
/*main фон #2F303A*/
/*наша команда фон #F5F4FA*/
/*герой текст #FFFFFF*/
/*футер фон #2F303A*/
/*акцент #2196F3*/




